= title

= editable(:p,    :summary, '', :simple)
= editable(:div,  :body)

= editable(:section, :main) do
  %b what the fffff

= editable(:section, :other) do
  %b what the hhhhhh
  %span oh

= editable(:ul, :todos) do
  %li wash dishes
  %li buy motorcycle
